<a href="https://colab.research.google.com/github/Pakopac/NLP/blob/master/movies_similars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data_dir = '/content/drive/MyDrive/Colab_Notebooks/'

In [ ]:
df = pd.read_csv(data_dir + 'movies.csv')
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [ ]:
def combine_features(df):
  df["combined_features"] = df["keywords"] + df["cast"] + df["genres"] + df["director"]
  return df

In [ ]:
df = df.fillna("")

In [ ]:
combine_features(df)

      index  ...                                  combined_features
0         0  ...  culture clash future space war space colony so...
1         1  ...  ocean drug abuse exotic island east india trad...
2         2  ...  spy based on novel secret agent sequel mi6Dani...
3         3  ...  dc comics crime fighter terrorist secret ident...
4         4  ...  based on novel mars medallion space travel pri...
...     ...  ...                                                ...
4798   4798  ...  united states\u2013mexico barrier legs arms pa...
4799   4799  ...  Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...
4800   4800  ...  date love at first sight narration investigati...
4801   4801  ...  Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...
4802   4802  ...  obsession camcorder crush dream girlDrew Barry...

[4803 rows x 25 columns]

In [ ]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df["combined_features"]) 
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
sim = cosine_similarity(X)
print(sim)

[[1.         0.03928371 0.04564355 ... 0.         0.         0.        ]
 [0.03928371 1.         0.         ... 0.0410305  0.         0.        ]
 [0.04564355 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.0410305  0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [ ]:
id_titanic = df.index[df['original_title'] == 'Titanic'].tolist()[0]
sim_titanic = dict(enumerate(x for x in sim[id_titanic]))

In [ ]:
sim_titanic = {k: v for k, v in sorted(sim_titanic.items(), key=lambda item: item[1], reverse=True)}

In [ ]:
sim_titanic.sort()
sim_titanic = sim_titanic[::-1]
sim_titanic

array([1.        , 0.15877684, 0.14002801, ..., 0.        , 0.        ,
       0.        ])

In [ ]:
i = 0
movies_similars = []
for val in sim_titanic:
    if(i > 5):
      break
    if(i != 0):
      movies_similars.append(df.iloc[val]["original_title"])
    i += 1

In [ ]:
movies_similars

['When Harry Met Sally...',
 'Me You and Five Bucks',
 'Little Black Book',
 'Blue Car',
 'The Quick and the Dead']